#!/usr/bin/env bash

data_dir="csqa"
generator_type='gpt2'
batch_size=8
context_len=16
output_len=31
gpu_device=1
pretrain_generator_ckpt_path="/home/yujin/dot/learning-generator/checkpoints/dokg_multi_di/model.ckpt"
gpu_device=0
output_path="/home/yujin/dot/commonsense-qa/path_embeddings/dokg_multi_di/"